@use "variable" as *;

.inputContainer {
  width: 100%;
}

.formInput {
  width: 100%;
  font-size: 1.5rem;
  padding: 2rem;
  background-color: #7B8B9AFF;
  //border: none;
  //border-bottom: 3px solid transparent;
  transition: all 0.3s;
  color: $dark-v1-color
}

.formInput::placeholder {
  color: $dark-v1-color
}

.formInput:-webkit-autofill {
  // with this trick we can set background color
  transition: background-color 9999s ease-in-out 0s;
  background-color: #7B8B9AFF !important;
}


.falseBorder {
  outline: none;
  border-bottom: 3px solid $red-color;
}

.correctBorder {
  outline: none;
  border-bottom: 4px solid $green-color;
}

.errorColor {
  color: $red-color;
}

.correctColor {
  color: $green-color;
}

.span {
  display: block;
  position: absolute;
  font-size: 1.3rem;
  //color: $red-color;
  transform: translateY(-2rem);
}

.formLabel {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 1rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  color: $white-color
}

.formInput:placeholder-shown + .formLabel {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
